
$s-width: 975px;
$c-link: #3D716D;
$c-text: rgb(64, 64, 64);

html {
    font: 13px/1.5 Helvetica Neue,Arial,Helvetica,'Liberation Sans',FreeSans,sans-serif;
}
body {background-color: transparent;}
a {color: $c-link; }
a:hover {color: $c-link;}

div.container {width: 100%; overflow: hidden;}

#page {
    width: $s-width;
    margin: 0 auto;
    background-color: white;
}

#session {
  .name {font-weight: bold;}
}

#header {
    width: 100%; overflow: hidden;
    height: 170px;
}

div.buy {float: right; }

div.controls {
  width: 50%; overflow: hidden;
  img {float: left; margin-right: 10px;}
  .length {margin-top: 13px; font-size: 18px; color: $c-text;}
}

div.publication {
    margin-top: 20px;
    padding-bottom: 50px;
    div.main {float: left; width: 500px; margin-left: 20px; }
    div.cover { float: left; width: 300px; text-align: center;}

    div.content {
        margin: 20px 0;
    }

    .info {
        h1 {margin-bottom: 0;}
    }

    ul.links {
        margin: 0;
        li {list-style-type: none;}
    }

    div.licenses {margin-top: 30px;}

}


ul.links {
  font-size: 130%;
  li {margin: 10px 0;}
}

div.list {
  margin: 30px 0 30px 0;

  h2 {margin-bottom: 10px;}
  div.item {
    width: 100%; overflow: hidden;
    padding: 0px 0;

    img {float: left; margin: 0 1em 0.5em 0;}
  }
}             

a.remix {
  span {
    font-size: 18px;
    color: white;
    display: inline-block;
    margin-top: 5px;
    padding: 6px 19px 8px;
    background-color: $c-link;
    border-radius: 5px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.32);
    box-shadow: 0px 0px 1px darken($c-link, 10%);
  }
}
a.remix:hover {
  span {
    box-shadow: 0 0 5px lighten($c-link, 20%);
  }
}

.autora { font-weight: bold; }
